@import 'tailwindcss';

html,
body {
  margin: 0;
  height: 100%;
  background: #0b0d10;
  color: #e6e6e6;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

#__next {
  min-height: 100%;
}
